*{
    padding: 0;
    margin: 0;

}
body{
    background-color: #fff;
   /* height: 100%; */
}
.navegacao{
    background-color: #050542;
    position: absolute;
    height: 60px;
    width: 100%;
}

#checkbox{
    display: none;
}
#icone{
    cursor: pointer;
    font-size: 20pt;
    font-family: Arial;
    font-weight: 700;
    padding: 15px;
    position: absolute;
    z-index: 1;
}
.menu-lateral{
    background-color: #333;    
    height: 100%;
    width: 300px;
    position: absolute;
    transition: all .2s linear;
    /*left: -300px;*/

}
nav{
    width: 100%;
    position: absolute;
    top: 60px;
}
nav a{
    text-decoration: none;
}
.link{
    background-color: #494950;
    padding: 20px;
    font-family: 'Arial';
    font-size: 12pt;
    transition: all 0.2s linear;
    color: #fff;
    border-bottom: 2px solid #222;
   /* opacity: 0;
    margin-top: 200px;
    */

}
.link:hover{
    background-color: #050542;
}
/* comportamento da tela dos sistema */
@media(max-width: 800px){
    
    .menu-lateral{
        background-color: #333;    
        height: 100%;
        width: 300px;
        position: absolute;
        transition: all .2s linear;
        left: -300px;
    
    }
    .container{
        transform: translateX(-300px);
        
    }
    .container{
        width: 100%;
        
    }
    #checkbox:checked ~ .menu-lateral{
        transform: translateX(300px);
    }
    #checkbox:checked ~ .container{
        transform: translateX(5px);
    }
    
    #checkbox:checked ~ .menu-lateral nav a .link{
        opacity: 1;
        margin-top: 0px;
        transition-delay: 0.2s 
    }
    
}
.container{
    position: absolute;
    left: 302px;
    top: 65px;
    background-color: #423488;
    transition: all .2s linear;
}
